:root {
  --text-font: "Roboto", sans-serif;
  --logo-font: "Raleway", sans-serif;
  --main-color: #757575;
  --second-color: #ffffff;
  --title-color: #212121;
  --accent-color: #2196f3;
  --secondary-bg-color: #f5f4fa;
  --icon-color: #afb1b8;
}

body {
  font-family: var(--text-font);
  color: var(--main-color);
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

/* ============== COMPONENTS ============== */

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.title {
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.167;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-color);
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

/* ============== END COMPONENTS ============== */

/* ============== HEADER ============== */

.header {
  border-bottom: 1px solid #ececec;
}
.header > .container {
  display: flex;
  align-items: center;
}

.navigation {
  display: flex;
  align-items: center;
}

.navigation-list {
  display: flex;
}

.header-logo {
  margin-right: 93px;

  font-family: var(--logo-font);
  text-decoration: none;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;
  color: var(--title-color);
}

.logo-accent {
  color: var(--accent-color);
}

.navigation-list-item:not(:last-child) {
  margin-right: 50px;
}

.navigation-list-link {
  padding-top: 32px;
  padding-bottom: 32px;

  display: block;
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.02em;
  color: var(--title-color);
}

.navigation-list-link:hover,
.navigation-list-link:focus {
  color: var(--accent-color);
}

.current-link {
  color: var(--accent-color);
}

.header-address {
  display: flex;
  margin-left: auto;
}

.header-address-item:not(:last-child) {
  margin-right: 50px;
}

.header-address-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.02em;
  color: var(--main-color);
}

.header-address-link:hover,
.header-address-link:focus {
  color: var(--accent-color);
}

.icon-mail {
  width: 16px;
  height: 12px;
  margin-right: 10px;
  fill: currentColor;
}

.icon-phone {
  width: 10px;
  height: 16px;
  margin-right: 10px;
  fill: currentColor;
}

/* ============== END HEADER ============== */

/* ============== HERO ============== */

.hero {
  max-width: 1600px;
  max-height: 600px;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../images/hero/bg-hero.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #2f303a;
  margin: auto;
}

.hero-content {
  display: flex;
  width: 696px;
  flex-direction: column;
  align-items: center;
  padding: 200px 0px;
}
.hero-title {
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.364;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--second-color);
}

.order-button {
  min-width: 200px;
  height: 50px;
  padding: 10px 32px;

  border: none;
  background: var(--accent-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--second-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
}

/* ============== END HERO ============== */

/* ============== ABOUT ============== */

.about {
  padding-top: 94px;
}
.about-list {
  display: flex;
}

.about-list-item {
  width: 270px;
}

.about-list-item:not(:last-child) {
  margin-right: 30px;
}

.about-list-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  height: 120px;
  background-color: var(--secondary-bg-color);
}

.icon-about {
  width: 70px;
  height: 70px;
}

.about-title {
  margin-bottom: 10px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-color);
}

.about-description {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
}

/* ============== END ABOUT ============== */

/* ============== WHAT WE DO ============== */

.our-work {
  padding-top: 94px;
  padding-bottom: 94px;
}

.our-work-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

/* ============== END WHAT WE DO ============== */

/* ============== OUR TEAM ============== */
.team {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: var(--secondary-bg-color);
}

.team-list {
  display: flex;
}

.team-list-item {
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-list-item:not(:last-child) {
  margin-right: 30px;
}

.team-card {
  padding: 30px;
}

.team-title {
  margin-bottom: 10px;
}

.team-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.187;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-color);
}

.team-description {
  margin-bottom: 16px;

  font-weight: 400;
  font-size: 16px;
  line-height: 1.187;
  text-align: center;
  letter-spacing: 0.03em;
}

.social-list {
  display: flex;
  justify-content: space-between;
}

.social-list-link {
  display: flex;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
}

.social-list-icon {
  width: 20px;
  height: 20px;
  fill: var(--icon-color);
}

.social-list-link:focus,
.social-list-link:hover {
  background-color: var(--accent-color);
}

.social-list-link:focus .social-list-icon,
.social-list-link:hover .social-list-icon {
  fill: var(--second-color);
}

/* ============== END OUR TEAM ============== */

/* ============== OUR CLIENTS ============== */
.our-clients {
  padding-top: 94px;
  padding-bottom: 94px;
}

.our-clients-list {
  display: flex;
  justify-content: space-between;
}

.our-clients-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 170px;
  height: 90px;
  border: 1px solid var(--icon-color);
  border-radius: 4px;
}

.our-clients-icon {
  fill: var(--icon-color);
}

.our-clients-link:hover,
.our-clients-link:focus {
  border-color: var(--accent-color);
}

.our-clients-link:hover .our-clients-icon,
.our-clients-link:focus .our-clients-icon {
  fill: var(--accent-color);
}
/* ============== END OUR CLIENTS ============== */

/* ============== FOOTER ============== */
.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2f303a;
}

.footer > .container {
  display: flex;
  align-items: baseline;
}

.footer-left-side {
  margin-right: 70px;
}

.footer-logo {
  display: inline-block;
  margin-bottom: 20px;

  font-family: var(--logo-font);
  text-decoration: none;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;
  color: var(--second-color);
}

.footer-address-item:not(:last-child) {
  margin-bottom: 9px;
}

.footer-contacts {
  text-decoration: none;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.map {
  color: var(--second-color);
}

.footer-icon-head {
  margin-bottom: 20px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--second-color);
}

.footer-social-list {
  display: flex;
}

.footer-social-list-item:not(:last-child) {
  margin-right: 10px;
}

.footer-social-list-link {
  display: flex;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.1);
}

.footer-social-list-link:hover,
.footer-social-list-link:focus {
  background-color: var(--accent-color);
}

.footer-social-list-icon {
  fill: var(--second-color);
  width: 20px;
  height: 20px;
}

/* ============== END FOOTER ============== */

/* ============== PORTFOLIO ============== */
.portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
}

.portfolio-nav {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.portfolio-nav-item:not(:last-child) {
  margin-right: 8px;
}

.portfolio-button {
  border: none;
  border-radius: 4px;
  padding: 6px 22px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-color);
  cursor: pointer;
}

.portfolio-button:focus,
.portfolio-button:hover,
.portfolio-button:active {
  color: var(--second-color);
  background: var(--accent-color);
  outline: none;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
}

.portfolio-list-item {
  background: #ffffff;
  border: 1px solid #eeeeee;
  margin-right: 30px;
  margin-bottom: 30px;
  max-width: 370px;
}

.portfolio-list-item:nth-child(3n + 3) {
  margin-right: 0px;
}

.portfolio-list-item:nth-child(n + 7) {
  margin-bottom: 0px;
}

.portfolio-link {
  display: block;
  text-decoration: none;
}

.portfolio-link:focus,
.portfolio-link:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-card {
  padding: 20px 24px;
}
.portfolio-title {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-color);
}

.portfolio-description {
  margin-top: 0px;
  margin-bottom: 0px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
  color: var(--main-color);
}

/* ==============END PORTFOLIO ============== */
